.place__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    margin: 0 0 48px 0;
    padding: 0;
}

@media screen and (max-width: 896px) {
    .place__title {
        font-size: 42px;
        line-height: 1.1;
    }
}

@media screen and (max-width: 544px) {
    .place__title {
        font-size: 32px;
        line-height: 1.09;
        margin: 0 0 32px 16px;
    }
}