.page {
    margin: 0 48px;
    max-width: 1024px;
    font-family: 'Inter';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%; 
    text-rendering: optimizeLegibility;
}
