.footer__link {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.12;
    text-decoration: none;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 544px) {
    .footer__link {
        font-size: 24px;
        line-height: 1;
    }
}