.lead__title {
    text-align: center;
    max-width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 695px) {
    .lead__title {
        max-width: 500px;
        font-size: 65px;
        line-height: 1.1;
    }
}

@media screen and (max-width: 544px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 1.1;
    }
}