.footer__links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 730px) {
    .footer__links {
        flex-direction: column;
    }
}