.place__website {
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (max-width: 544px) {
    .place__website {
        margin-bottom: 32px;
    }
}